<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'newsToday'%}">The Moringa Tribune</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newsToday'%}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!-- Adding a search form  -->
    

      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">

        <div class="input-group">
          <input type="text" class="form-control mr-sm-2" placeholder="Search Article" name="article">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>

      </form>
  
    <!-- search form end -->

    {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{%url 'newsToday'%}">Home</a>
                  </li>
                  <li>
                    <a href="{%url 'new-article'%}">Create Article</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
    
  </div>
</nav>
</body>
</html>
